<h1>Listing earthquakes</h1>

<%# pie_chart @earthquake_data %>
<%# bar_chart @earthquake_data %>
<%# line_chart @earthquake_data %>
<%# geo_chart @earthquake_places %>

<%= render 'ajax_loading' %>
<div class="earthquakes">
  <%= render 'earthquakes' %>
</div>

<br>

<%= link_to 'New Earthquake', new_earthquake_path %>

<br>

<%= link_to 'Upload CSV', upload_earthquakes_path %>
